h1 {
    text-align: center;
    color: green;
}

h3 {
    text-align: center;
    font-style: italic;
    color: darkblue;
}
table, tr, th, td {
    border: 1px solid black;
    background-color:antiquewhite;
    margin: 10px;
}
