h1 {
    text-align: center;
    color: green;
}

h3 {
    text-align: center;
    font-style: italic;
    color: darkblue;
}

table, tr, th, td {
    border: 1px solid darkslateblue;
    background-color:antiquewhite;
    color:darkblue;
    z-index: 1;
}

#bbbackground {
    z-index: -3;
}

form {
    text-align: center;
}

div {
    text-align: center;
}
    


