h1 {
    text-align: center;
    color: green;
}

h3 {
    text-align: center;
    font-style: italic;
    color: darkblue;
}

#background {
    z-index: -3;
    position: absolute;
    top: 0;
    left: 0;
}

form {
    text-align: center;
}

div {
    position: relative;
    transform: translate(25%, 0);
}
    
table, tr, th, td {
    border: 1px solid darkslateblue;
    background-color:antiquewhite;
    color:darkblue;
    z-index: 1;
    text-align: center;
}

table {
    position: absolute;
    top: 100;
    left: 0;
    width: auto;
    margin: auto;
}

